.countContent {
    width: 300px;
    height: 100px;
}

th {
    padding: 1px;
    text-align: left;
    border: 1px solid black;
}

td {
    padding: 1px;
    text-align: left;
    border: 1px solid black;
}